<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Awwards</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet"><br />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<style>
  #image{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fvideohive.img.customer.envatousercontent.com%2Ffiles%2F252795637%2FAwards_Titles_4K_preview.jpg%3Fauto%3Dcompress%252Cformat%26fit%3Dcrop%26crop%3Dtop%26max-h%3D8000%26max-w%3D590%26s%3D3320f2c4908828eb6dfcef91d58654c6&imgrefurl=https%3A%2F%2Fvideohive.net%2Fitem%2Fawards-titles%2F22399668&docid=JZy7dWLWG2_mUM&tbnid=J9c7C4Mps24tmM%3A&vet=10ahUKEwjY0_O5joXmAhWIUBUIHaWoBmsQMwhPKAEwAQ..i&w=590&h=332&bih=707&biw=1517&q=4k%20awards%20projects%20images&ved=0ahUKEwjY0_O5joXmAhWIUBUIHaWoBmsQMwhPKAEwAQ&iact=mrc&uact=8);
  }
</style>

<body id="image">

  {%  include 'navbar.html' %}
 </div>
{% block content %}
{% endblock %}

  {%  block scripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

  {% endblock %}


</body>

</html>