{% extends 'base.html' %}
{% block content %}
<script>
new WOW().init()
</script>
<div style="background-image: url(https://cdn.pixabay.com/photo/2013/05/15/09/12/chain-bridge-111329_960_720.jpg)">
<div class="container">
    
<h2 class="text-muted text-center" style="font-size: 50px; font-style:oblique;font-family: 'Times New Roman', Times, serif;">UPLOADED SITES</h2>
<hr style="color: black;">
<div class="row" style="background-color:gray;margin-top: 20px;padding-bottom: 75px;">

{% for project in projects %}
<div class="col-md-4">
<div class="card-group wow fadeInLeft"  style="margin:2%;" data-aos='fade-down'>
        <div class="view overlay zoom ">
                <img style="height: 25vh;" src="{{project.image_landing.url}}" class="card-img-top">
                <div class="mask flex-center rgba-black-strong">
                    <a href="{% url 'projects' project.pk %}" class="btn btn-pink" >DETAILS<i class="far fa-chevron-double-right"></i>  </a>
                </div>
        </div>

<div class="card-body">
    <a href="{% url 'projects' project.pk %}"><h5 class="strong-text"> <strong>{{project.title}}</strong> </h5> </a> <hr class="bg-danger">
    <p class="black-text pull-right">{{project.pub_date|date:"F d,Y"}}</p>
    <h6>By  {{project.profile}}</h6>
 
</div>

</div>

</div>
{% endfor %}
</div>
</div>
</div>

{% endblock %}